.MainLayout
  min-height 100vh!important
  .ant-spin-nested-loading > div > .ant-spin
    max-height 70vh
    height 70vh
  .MainLayoutSider
    width 30%!important
    min-width 30%!important
    max-width 30%!important

