.SiderColor
  padding 64px
  .title
    font-size 22px
    text-align center
    padding-bottom 32px
  .colorItem
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin-bottom 16px
    cursor pointer
    font-size 13px
    color #666
    .imageWrapper
      width 36px
      height 36px
      overflow hidden
      border-radius 50%
      margin-bottom 5px
      padding 4px
      transition all .3s ease-in-out
      border 1px solid transparent
    .price
      color #999

    &:hover
      color #1a1a1a
      .imageWrapper
        border-color #007edb
      .price
        color #666

    &-active
      color #1a1a1a
      .imageWrapper
        padding 0px
        border-color transparent!important
      .price
        color #666
