.CustomButton
  height 120px
  width 100%
  max-width 350px
  border-color #007edb
  font-size 16px
  text-transform uppercase
  font-weight 700
  color #007edb
  margin-bottom 16px
  cursor pointer
  transition all .3s ease-in-out
  background #fff
  &:hover
    background-color rgba(0, 126, 219, .08)
  &-active
    background #007edb
    color #fff
    .price
      color #fff!important
    &:hover
      background #007edb
