.CustomButton
  height 120px!important
  width 100%
  max-width 350px
  border-color #007edb!important
  font-size 16px!important
  text-transform uppercase
  font-weight 700!important
  color #007edb!important
  margin-bottom 16px
.-active
  background #007edb!important
  color #fff!important
  .price
    color #fff!important
